<style type="text/css">
	.wptraps-dashboard {
		width: 25%;
		display: inline-block;
	}
</style>

<div class="wrap">
	<h1>Bot Statistics Dashboard</h1>
	<div id="welcome-panel" class="welcome-panel">
		<div class="welcome-panel-content">
			<h3>Traps Activated and Working</h3>
			<p class="about-description">We’ve assembled some statistics for your viewing pleasure!</p>
			<div class="welcome-panel-column-container">
				<div class="wptraps-dashboard">
					<center>
						<br />
						<h2>Total Visits</h2>
						<br />
						<h1>150</h1>
						<br />
					</center>
				</div>
				<div class="wptraps-dashboard">
					<center>
						<br />
						<h2>Live People</h2>
						<br />
						<h1>150</h1>
						<br />
					</center>
				</div>
				<div class="wptraps-dashboard">
					<center>
						<br />
						<h2>Empty JS Traps</h2>
						<br />
						<h1><?php echo get_post_meta('1', '_jstraps', true); ?></h1>
						<br />
					</center>
				</div>
			</div>
		</div>
	</div>
</div>